<div class="container w-100 rounded" id="fundo">

    <div class="row mt-5 mb-5 w-100">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="https://i.imgur.com/mVBA8Rh.png" alt="" height="200px" width="300px">
        </div>
        <div class="col-md-6">
            <h5 class="text-center d-flex justify-content-center mb-3">A Feira Livre</h5>
            <p class="text-justify">Nascemos com a missão de unir tecnologia a causas sociais. Criamos uma plataforma de
                fácil navegação, com uma garnde variedade de produtos e preço justo. Trazemos produtos de qualidade,
                frescos e direto da horta para a sua mesa, garantindo uma alimentação mais saudável. Além disso,
                trazemos a comodidade de poder comprar tudo do conforto do seu lar e ter uma entrega segura em, no
                máximo, um dia. Acompanhamos todas as fases do processo, do plantio à entrega, garantindo a qualidade em
                todas as etapas. Nos preocupamos com a satisfação de todos os envolvidos, clientes, produtos e
                entregadores pois sabemos que o bem mais precioso que temos são as pessoas.</p>
        </div>
    </div>



    <div class="row mt-5 mb-5 w-100">
        <div class="col-md-6">
            <h5 class="text-center d-flex justify-content-center mb-3">Nossa Causa</h5>
            <p class="text-justify">Temos 3 pilares essenciais: Levar comida saudável para todo o Brasil. Ajudar
                pequenos produtores em todos os processos, do plantio à venda, garantindo o melhor retorno financeiro
                para que ele cresça. Colaborar com causas sociais na erradicação da fome, garantindo que brasileiros em
                situação de vulnerabilidade recebam doações e tenham alimento todos os dias. Como fazemos isso
                acontecer?</p>
            <p class="text-justify">Trabalhamos em conjunto com pequenos produtores de todo o Brasil, que trazem produtos específicos de cada
                região, de acordo com a época do ano. Com diversos estudos e tecnologia, oferemos aos nossos parceiros
                informações que os auxiliam nas tomadas de decisão e aumentam suas safras em qualidade e quantidade.
                Investimos continuamente parte da nossa renda nessa frente, para que nossos parceiros continuem a
                crescer e expandir seus negócios.</p>
            <p class="text-justify">Sabemos que milhões de pessoas morrem anualmente por falta de alimentação básica e, aqui no Brasil, não é
                diferente. Em 2020 o Brasil retornou ao mapa da fome, ou seja, quase 5% da população brasileira não
                dispõe de comida para sobreviver. Tendo isso em mente, decidimos fazer nossa parte para mudar essa
                realidade. Parte de todo o nosso lucro é doado para causas sociais de erradicação da fome. Nossos
                produtores também doam uma parte da colheita para que seja entregue à essa população. Também aceitamos
                doações dos nossos clientes, em forma de compras no site, que serão entregues a quem mais precisa. Vamos
                mudar o mundo, um prato por vez, e garantir o direito básico a essas pessoas que só precisam de uma
                chance e uma mão estendida para mudarem suas realidades.</p>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center ">
            <img src="https://i.imgur.com/Lwnnyme.png"
                alt="" height="400px" width="400">
        </div>

    </div>

  <hr>

    <div class="row mb-3 d-flex justify-content-center mt-5">
        <h3>Quem faz a Feira Livre</h3>
    </div>
    <div class="row mb-3 d-flex justify-content-center mt-5 ">
        <div class="col-md-2 mb-3">
            <div class="imagebox">
                <img src="https://i.imgur.com/ctsPw0z.png" alt="..." class="rounded-circle" height="256px"
                    width="256px">
                <div class="content mr-4">
                    <h1 class="mt-3">Zaine</h1>
                    <ul class="mr-4">
                        <li><a href="https://www.linkedin.com/in/zainequeiros/" target="_blank">
                                <fa-icon [icon]="faLinkedinIn"></fa-icon>
                            </a></li>
                        <li><a href="https://github.com/Zainequeiros" target="_blank">
                                <fa-icon id="git" [icon]="faGithubAlt"></fa-icon>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3 ">
            <div class="imagebox">
                <img src="https://i.imgur.com/dRdXUXQ.png" alt="..." class="rounded-circle" height="256px"
                    width="256px">
                <div class="content mr-4">
                    <h1 class="mt-3">Victor</h1>
                    <ul class="mr-4">
                        <li><a href="https://www.linkedin.com/in/victortavares-dev/" target="_blank">
                                <fa-icon [icon]="faLinkedinIn"></fa-icon>
                            </a></li>
                        <li><a href="https://github.com/VictorT314" target="_blank">
                                <fa-icon id="git" [icon]="faGithubAlt"></fa-icon>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3 ">
            <div class="imagebox">
                <img src="https://i.imgur.com/SKQwKo6.png" alt="..."
                    class="rounded-circle">
                <div class="content mr-4">
                    <h1 class="mt-3">Matheus</h1>
                    <ul class="mr-4">
                        <li><a href="https://www.linkedin.com/in/matheus-fernandes-99b3ab196/" target="_blank">
                                <fa-icon [icon]="faLinkedinIn"></fa-icon>
                            </a></li>
                        <li><a href="https://github.com/Mfrzero" target="_blank">
                                <fa-icon id="git" [icon]="faGithubAlt"></fa-icon>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3">

            <div class="imagebox">
                <img src="https://i.imgur.com/sjV5VOG.png" alt="..." class="rounded-circle">
                <div class="content mr-4">
                    <h1 class="mt-3">Herick</h1>
                    <ul class="mr-4">
                        <li><a href="https://www.linkedin.com/in/herick-willians/" target="_blank">
                                <fa-icon [icon]="faLinkedinIn"></fa-icon>
                            </a></li>
                        <li><a href="https://github.com/Herickwill" target="_blank">
                                <fa-icon id="git" [icon]="faGithubAlt"></fa-icon>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <div class="imagebox">
                <img src="https://i.imgur.com/aKay0dM.png" alt="..."
                    class="rounded-circle" height="256px"
                    width="256px">
                <div class="content mr-4">
                    <h1 class="mt-3">Bruna</h1>
                    <ul class="mr-4">
                        <li><a href="https://www.linkedin.com/in/bruna-santos-6313891ba/" target="_blank">
                                <fa-icon [icon]="faLinkedinIn"></fa-icon>
                            </a></li>
                        <li><a href="https://github.com/BrunaSant" target="_blank">
                                <fa-icon id="git" [icon]="faGithubAlt"></fa-icon>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>