.card {
    background-color: #c6edb5;
    border-radius: 30px;
    box-shadow: 0 0 33px 0 rgba(0,0,0,.75);
    position: relative;
    display: flex;
}

body {
    background-image: url("https://i.imgur.com/2U02d5X.jpg"); 
    background-size: 100%; 
    background-repeat: repeat; 
    padding-right: 0px;
}