.veg {
    color: #a6f349;
}

.trator {
    color: #fccb8f;
}

.pessoas {
    color: #f65c78;
}

.jumbotron {
    background-color: #f0ffea;
}

.card-footer{
    background-color: #f0ffea;
}
#fundo{
    background-color: #fbfbf8;
}