<div id="fundo">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          src="http://www.supermarchebyblos.com/images/2016/03/vegetables.jpg"
          alt="Primeiro Slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="https://www.versland.com/images/layoutentitylinkvalue/1067/8d6b371e4616b90/1920x500/_MG_1331-9.jpg"
          alt="Segundo Slide"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="https://cdn.iser.vc/static/articles/banners/2018/01/growing-your-own-edibles.png"
          alt="Terceiro Slide"
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center social-network">
          <div class="media">
            <fa-icon [icon]="faSeedling" class="veg fa-3x"></fa-icon>
            <div class="media-body">
              <p class="mt-2 ml-2 text-sm-left">
                Produtos frescos e orgânicos. Diretamente do produtor para a sua
                mesa
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 text-center social-network">
          <div class="media">
            <fa-icon [icon]="faTractor" class="trator fa-3x"></fa-icon>
            <div class="media-body">
              <p class="mt-2 ml-2 text-sm-left">
                Entregas realizadas diariamente para garantir que o seu alimento
                chegue fresco até você
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 text-center social-network">
          <div class="media">
            <fa-icon [icon]="faUsers" class="pessoas fa-3x"></fa-icon>
            <div class="media-body">
              <p class="mt-2 ml-2 text-sm-left">
                Parte do lucro e dos produtos é doado para pessoas em situação
                de vulnerabilidade
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>Nosso Projeto</h3>
      </div>
    </div>
    <div class="row mt-4">
      <div class="card-deck">
        <div class="card">
          <img
            class="card-img-top"
            src="https://www.flaticon.com/svg/static/icons/svg/1772/1772187.svg"
            width="200px"
            height="239px"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title text-center">A Feira Livre</h5>
            <p class="card-text text-justify">
              Nascemos com a missão de levar alimento saudável à mesa dos
              brasileiros. Auxiliamos o pequeno produtor em todo o processo de
              venda e também atuamos no combate à fome, através de doações de
              parte do lucro e de alimentos
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://www.flaticon.com/svg/static/icons/svg/1772/1772243.svg"
            width="200px"
            height="239px"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title text-center">Nossos Produtores</h5>
            <p class="card-text text-justify">
              Os pequenos agricultores são responsáveis pela maior parte do
              cultivo de tudo que comemos e, consumindo produtos vindos deles,
              incentivamos uma agricultura mais sustentável, que preza pela
              qualidade e pelo meio ambiente
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
        <div class="card">
          <img
            class="card-img-top"
            src="https://www.flaticon.com/svg/static/icons/svg/1460/1460639.svg"
            width="200px"
            height="239px"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title text-center">Nossa Causa</h5>
            <p class="card-text text-justify">
              Atualmente, quase 12 mil vidas são perdidas ao redor do mundo
              devido à falta de alimento para a população. Pensando nisso,
              criamos uma solução que possa ajudar na erradicação da fome.
              Fazemos isso através de doações de parte do lucro e de alimentos
              que os produtores oferecem
            </p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="col-md-12 text-center">
        <h3>Direto da Horta</h3>
      </div>
    </div>
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.imgur.com/OjGb9im.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Morango</h5>
          <p class="card-text text-justify">
            Morangos orgânicos. Ricos em vitamina C
          </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-success">
            Demais Produtos
          </button>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.imgur.com/Du8910f.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Abacaxi</h5>
          <p class="card-text text-justify">
            Abacaxis orgânicos. Rico em magnésio
          </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-success">
            Demais Produtos
          </button>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.imgur.com/V87plIg.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Pimenta Dedo de Moça</h5>
          <p class="card-text text-justify">
            Pimenta Dedo de Moça orgânica. Leve picância e muito sabor
          </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-success">
            Demais Produtos
          </button>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="https://i.imgur.com/Eon2Tpo.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h5 class="card-title">Couve-Flor</h5>
          <p class="card-text text-justify">
            Couve Flor orgânica. Rica em vitaminas e antioxidantes
          </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-success">
            Demais Produtos
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4"></div>
      <div class="col-md-4 d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-outline-success btn-lg btn-block mb-3"
          routerLink="/catalogo"
        >
          Visite nosso catálogo!
        </button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>