<div class="container col-md-8">
    <div class="card mt-5 mb-5 mr-5 rounded">
        <div class="row d-flex justify-content-center mt-5">
            <div class="">
              <p><img src="https://i.imgur.com/Epr5gux.png" alt=""></p>
            </div>
          </div>
        <div class="row mt-5">

            <div class="col-md-12  d-flex justify-content-center">
                <h3>Cadastrar</h3>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-6">
                <div class="pl-3 pr-3">
                    <div class="form-group box">
                        <label for="inputAddress"></label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome" [(ngModel)]='user.nome'>
                    </div> 
                    <div class="form-group box">
                        <label for="inputAddress"></label>
                        <input type="text" class="form-control" id="telefone" placeholder="Digite o seu telefone com DDD" mask="(00) 0000-0000" [(ngModel)]='user.telefone'>
                    </div>
                    <div class="form-group box">
                        <label for="inputAddress"></label>
                        <input type="text" class="form-control" id="cpf" placeholder="Digite o seu CPF, sem pontos" mask="000.000.000-00" [(ngModel)]='user.cpf'>
                    </div>
                    <div class="form-group box">
                        <label for="inputAddress"></label>
                        <input type="text" class="form-control" id="data" placeholder="Digite sua data de nascimento" mask="00/00/0000" [(ngModel)]='user.dataNascimento' placement="top" ngbTooltip="Digite no seguinte formato: 01/10/2000">
                    </div>
                   
                    <div class="form-group box">
                        <label for="inputEmail"></label>
                        <input type="email" class="form-control" id="email" placeholder="E-mail" [(ngModel)]='user.email' >
                    </div>
                    <div class="form-group box">
                        <label for="inputPassword"></label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Senha" (input)='conferirSenha($event)' value='{{senha}}' placement="top" ngbTooltip="Escolha uma senha forte, com letras maiuculas, minusculas e caracteres especiais (@,#,%,/,\)" >

                    </div>
                    <div class="form-group box">
                        <label for="inputPassword"></label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Confirmar senha" [(ngModel)]='user.senha'>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>