<div class="container col-md-8">
    <div class="card mt-5 mb-5 rounded">
        <div class="row mt-5">

            <div class="col-md-12  d-flex justify-content-center">
                <h3>Cadastrar</h3>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-6">
                <div class="pl-3 pr-3">
                    <div class="form-group">
                        <label for="inputAddress">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome"
                            [(ngModel)]='user.nome'>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Telefone</label>
                        <input type="text" mask="(99)99999-9999" class="form-control" id="nome"
                            placeholder="Digite o seu nome" [(ngModel)]='user.telefone'>

                    </div>
                    <div class="form-group">
                        <label for="inputAddress">CPF</label>
                        <input type="text" mask="000.000.000-00" class="form-control" id="nome"
                            placeholder="Digite o seu nome" [(ngModel)]='user.cpf'>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Data de Nascimento</label>
                        <input type="text" mask="00/00/0000" class="form-control" id="nome"
                            placeholder="Digite o seu nome" [(ngModel)]='user.dataNascimento'>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="E-mail"
                            [(ngModel)]='user.email'>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Senha</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Senha"
                            (input)='conferirSenha($event)' value='{{senha}}'>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Confirmar senha</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Confirmar senha"
                            [(ngModel)]='user.senha'>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-success" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>