<div class="row">
    <div class="col-md-4 ml-5 mt-5">
        <app-filtro></app-filtro>
    </div>
    <div class="container">






        <div class="col-sm-3 " *ngFor="let item of listaProdutos">
            <div class="card mt-5">
                <img class="card-img-top"  src="{{item.foto}}" alt="Imagem de capa do card">
                <div class="card-header">

                    <div class="row d-flex align-items-center">

                        <div class="col-sm-12">
                            <h5 class="card-title"> {{item.nome}} </h5>
                            <p class="card-text">{{item.descricao}} </p>
                            <p class="card-text">{{item.preco | currency: 'BRL'}}</p>
                            <button type="button" class="btn btn-outline-success">Adicionar ao carrinho</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>