<nav class="navbar navbar-expand-lg navbar-light color pt-1 pb-0">
  <a class="navbar-brand p-0 mr-0" href="#"><img src="https://i.imgur.com/4RLyjZg.png" alt="Feira Livre" width="92px" height="55px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav menu">

      <li class="nav-item">
        <a class="nav-link  " routerLink="/home">Home</a>        
      </li>
      <li class="nav-item tirar">
        <a class="nav-link  ">|</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <!-- começo sub menu-->
        <div class="dropdown-menu color submenu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Verduras</a>
          <a class="dropdown-item" href="#">Legumes</a>
          <a class="dropdown-item" href="#">Temperos e Ervas</a>
          <a class="dropdown-item" href="#">Frutas</a>
          <a class="dropdown-item" href="#">Cogumelos</a>
          <a class="dropdown-item" href="#">Pancs</a>
          <a class="dropdown-item" href="#">Cafés e Chás</a>
          <a class="dropdown-item" href="#">Chips</a>
          <a class="dropdown-item" href="#">Grãos</a>
        </div>
      </li>
      <!-- termina sub menu-->
      <li class="nav-item tirar">
        <a class="nav-link  ">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="sobre-nos">Sobre Nós</a>
      </li>
      <li class="nav-item tirar">
        <a class="nav-link  ">|</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contatos">Fale Conosco</a>
      </li>
    </ul>
    <div class="ml-auto">
      <ul class="navbar-nav ">
        <div *ngIf='auth.btnLogin()'>
          <li class="nav-item menu">
            <a class="nav-link" routerLink='/cadastro'>Cadastrar</a>
          </li>
        </div>
        <li class="nav-item tirar">
          <a class="nav-link  ">|</a>
        </li>
        <div *ngIf='auth.btnLogin()'>
          <li class="nav-item menu">
            <a class="nav-link" routerLink='/login'>Login</a>
          </li>
        </div>
        <li class="nav-item tirar ">
          <a class="nav-link ">|</a>
        </li>
        
        <div *ngIf='auth.btnSair()'> 
          <li class="nav-item">
            <a class="nav-link" (click)='sair()'>Sair</a>
          </li>
          </div>
        <li class="nav-item">
          <a class="nav-link p-1 ml-1" routerLink='/carrinho'><img src="https://www.flaticon.com/svg/static/icons/svg/679/679814.svg" width="30px"
              height="30px" alt="carrinho"> </a>
        </li>

      </ul>
    </div>
  </div>
 
</nav>