<div class="container  mt-5 mb-5">
    <div class="row mb-5">

        <div class="col-md-6 border fundo-pagamento">
            <h2 class="text-center mt-4 mb-4">Carrinho</h2>
        </div>

        <div class="col-md-6 border">
            <h2 class="text-center mt-4 mb-4">Pagamento</h2>

            <form>
                <div class="form-group">
                    <label for="numeroCartao">Numero do cartão</label>
                    <input type="text" class="form-control" id="numeroCartao" placeholder="**** **** **** ****">
                </div>
                <div class="form-group">
                    <label for="nomeCartao">Nome no cartão</label>
                    <input type="text" class="form-control" id="nomecartao"
                        placeholder="Digite o nome do titular do cartão">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="vencimentoCartao">Vencimento</label>
                        <input type="email" class="form-control" id="vencimentoCartao" placeholder="MM/AA">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ccv">CCV</label>
                        <input type="password" class="form-control" id="ccv" placeholder="***">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputState">Opção de pagamento</label>
                    <select id="inputState" class="form-control">
                        <option selected>À vista</option>
                        <option>2X</option>
                        <option>3X</option>
                        <option>4X</option>
                    </select>
                </div>
                <div class="d-flex justify-content-end align-self-end">
                    <h4>Total: {{total | currency : 'BRL'}}</h4>
                </div>
        <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-success mt-3 mb-3 d-flex justify-content-center w-50">Finalizar compra</button>
        </div>
    </form>

    </div>
</div>