<div id="fundo">
    <div class="container pt-5 pb-5">
        <div class="row pr-4 pl-4">
            <h2>Contato</h2>

            <h5 class="font-weight-normal text-justify text-dark mt-3 mb-5">Fale diretamente conosco para esclarecer
                duvidas
                ou relatar problemas. Preencha o formulário e nos envie uma mensagem. Ou se preferir, entre em contato
                pelos
                outros canais de atendimento. Nossa equipe responderá o mais rápido possível.
            </h5>

            <div class="col-md-6 mt-3">

                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Insira seu nome">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Insira seu e-mail">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Insira seu telefone">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Insira uma mensagem aqui"></textarea>
                    </div>
                </form>
                <button type="button" class="btn btn-outline-success justify-content-end">Enviar</button>
            </div>

            <div class="col-md-6 mt-2 ">
                <div class="col-md-12 mb-2 media m-1 pl-4">
                    <fa-icon [icon]="faMapMarkerAlt" class="align-self-center fa-2x mb-2"></fa-icon>
                    <div class="media-body">
                        <h5 class="mt-2 ml-4 text-sm-left mb-0">Endereço</h5>
                        <p class="ml-4 text-sm-left">Rua testando teste, 30 - São Paulo - SP</p>
                    </div>
                </div>

                <div class="col-md-12 mb-2 media m-1 pl-4">
                    <fa-icon [icon]="faPhoneAlt" class="align-self-center fa-2x mt-2"></fa-icon>
                    <div class="media-body">
                        <h5 class="mt-4 ml-3 text-sm-left mb-0">Telefone</h5>
                        <p class="ml-3 text-sm-left">(11) 4002-8922</p>
                    </div>
                </div>
                <div class="col-md-12 mb-2 media m-1 pl-4">
                    <fa-icon [icon]="faEnvelope" class="align-self-center fa-2x"></fa-icon>
                    <div class="media-body">
                        <h5 class="mt-4 ml-3 text-sm-left mb-0">E-mail</h5>
                        <p class="ml-3 text-sm-left ">sac@feiralivre.com.br</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>